@font-face {
    font-family: 'pirata';
    src: url("pirata.ttf");
}

body{
    background: no-repeat;
    background-image: url(fondo3.jpg);
    background-size: cover;
}

h1{
    font-family: 'pirata';
    font-size: 40px;
}

h2{
    font-family: 'pirata';
    color:rgb(133, 23, 23);
    font-size: 30px;
    
}

p{
    font-family: 'pirata';
    color:rgb(243, 199, 66);
    font-size: 30px;
}

td{
    font-family: 'pirata';
    color:rgb(243, 199, 66);
    font-size: 30px;
}


ul {
    list-style-image: url(icono.png);
}

li{
    color:rgb(5, 31, 45);
    font-weight: bold;
    font-family: 'pirata';
}

input{
    color:rgb(5, 45, 18);
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 109, 59);
    border-radius: 20px;
}

#info1{
    color:rgb(23, 95, 133);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#info2{
    color:rgb(23, 95, 133);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#info3{
    color:rgb(23, 95, 133);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#info4{
    background-color: rgba(23, 95, 133, 0.441);
    border-radius: 5px;
    padding: 5px;
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: -15px;
}

#info5{
    color:rgb(23, 95, 133);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#info6{
    color:rgb(23, 95, 133);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

#Izquierda{
    float: left;
    width: 350px;
    height: 490px;
    margin: 6px;
    background-color: rgba(243, 199, 66, 0.834);
    padding: 10px;
    border-radius: 10px;
}

#Derecha{
    float: right;
    width: 350px;
    height: 490px;
    margin: 6px;
    background-color: rgb(133, 23, 23, 0.834);
    padding: 10px;
    border-radius: 10px;
    
}

#info{
    margin-bottom: -10px;
}

#display{
    font-size: 12px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(87, 171, 167, 0.677);
    width: 330px;
    height: 280px;
    overflow-y: scroll;
    align-content: center;
    padding: 10px;
}

#usuarios_conect{
    color:rgb(255, 255, 255);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 18px;
    
}

#qrcode{
    width: 100px;
    margin-top: -10px;

}

#btn_test{
    margin-top: -36px;
}

#prueba{
    margin-top: -10px;
}

